.second_section {
    height: 100vh;
    height: 100dvh;
    width: 100%;
    background: #CCCCCC;
}

.left_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    height: 100%;
    color: #171717;
}
